#form{



    form{
margin-top: 0px;
        border:3px solid white;
     padding:6%;
        
        
     
        width:60vh;
        height:70vh;
        border-radius:20px;
        margin-left: auto;
        margin-right: auto;
        
        background: rgba(255,255,255,.4);
        border: 2px solid;
        border-top-color: rgba(255,255,255,1);
        border-left-color: rgba(255,255,255,1);
        border-bottom-color: rgba(255,255,255,0.2);
        border-right-color: rgba(255,255,255,0.2);
        box-shadow: 10px 10px  10px rgba(255,255,255,0.6);
    }


    #inputfield{
        padding:2px;
        border:0px solid black;
          margin-bottom:3%;

    }
    legend{
        text-align: center;
    }
    input{
        border:0px solid rgba(255,255,255,.4); ;
        border-bottom:2px solid white;
    	background: transparent;
        color:white;
        font-size: 25px;;
        padding:3px;
        height:50px;
      
        
    }
    ::placeholder {
        color: white;
        opacity: 1; /* Firefox */
      }
      
    input:hover{
        border:0px solid white;
        border-bottom:2px solid lightgreen;
       
        color:white;
        
    }
  #btn{
      height:50px;
      font-size:20px;
      text-align: center;
      color:white;
      border-color:white;
    
    margin-top:3%; 
  }


#formheading{
    margin-bottom:5%;
    text-align:center;
    font-size:5em;
    
}

}



