
body{
                margin:0px;
                background-color: #1e242a;
                font-family: 'Roboto Condensed', sans-serif;
}


            #logodiv{
              
                width:100%;
                margin-top:5px;
              
            width:100%;
            }
            #logo1{
                float:left;
                animation-name: example10;
                animation-duration: 5s;
                animation-delay:11s;
                
                     animation-fill-mode: both;
            
            
            }
            
            #logo2{
                float:right;
                animation-name: example10;
                animation-duration: 5s;
            animation-delay:10s;
                     animation-fill-mode: both;
            
                
             
            
            }
            #div2{
                margin-top: 2%;;
            }
            #logo2 img{
                width:200px;
            }
            #logodiv img{
                width:200px;
            }
            #logo{
                margin-left:15%;
                margin-right: auto;

                width:70%;
            }
        
#loggerheading{
    margin-left:auto;
    bottom:10px;
    margin-right: auto;
text-align: center;

    font-size:7em;font-family: 'Roboto Condensed', sans-serif;
    animation-name: slideIn;
    animation-duration: 5s;
         animation-fill-mode: both;


}


@keyframes slideIn{
    0% {font-size:0px;}
    100% {font-size:7em}
 }

 

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
 }

 h1{
    color:white;
}

.container{
    margin-bottom:0px;
}

#bar{
    margin:0px;
min-height: 400px;
animation-name: fadeIn;
    animation-duration: 10s;
     animation-delay: 3s;
            animation-fill-mode: both;
}

#div1{
    height:5%;
    margin-bottom:0px;
}

#loggersubheading{
    color:white;
    font-size:3em;
    text-align: center;
    animation-name: subheadinganimation;
    animation-duration: 10s;
    animation-delay: 3s;
         animation-fill-mode: both;


}

@keyframes subheadinganimation{
    0% {opacity:0;}
    100% {opacity:1;}
 }


        span{
            color:white;
        }



#form{
    
    animation-name: example10;
    animation-duration: 2s;

         animation-fill-mode: both;


}

@keyframes example10{
    0% {opacity:0;}
100%  {opacity: 1;}
}
        