
body{
                margin:0px;
                background-color: #1e242a;
                font-family: 'Roboto Condensed', sans-serif;
}


            #logodiv{
              
              
                margin-top:5px;
              
        
            }
            #logo1{
                float:left;
                animation-name: example10;
                animation-duration: 5s;
                animation-delay:4s;
                width:20%;
                     animation-fill-mode: both;
            
            
            }
            
            #logo2{
                float:right;
                animation-name: example10;
                animation-duration: 5s;
            animation-delay:6s;
                     animation-fill-mode: both;
            width:20%;
                
             
            
            }
            #div2{
                margin-top: 2%;;
            }
            #logo2 img{
                width:20px;
            }
            #logo1 img{
                width:20px;
            }
            #logo{
                
                margin-left:10%;
                width:80%;
            }
        
#loggerheading{
    margin-left:auto;
    bottom:10px;
    margin-right: auto;
text-align: center;

    font-size:5em;font-family: 'Roboto Condensed', sans-serif;
    animation-name: slideIn;
    animation-duration: 5s;
         animation-fill-mode: both;


}


@keyframes slideIn{
    0% {font-size:0px;}
    100% {font-size:7em}
 }

 

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
 }

 h1{
    color:white;
}

.container{
    margin-bottom:0px;
}

#bar{
    margin:0px;
    overflow:hidden;
margin-top:10%;
animation-name: fadeIn;
    animation-duration: 10s;
     animation-delay: 3s;
            animation-fill-mode: both;
}

#div1{
    height:5%;
    margin-bottom:0px;
}

#loggersubheading{
    color:white;
    font-size:3em;
    text-align: center;
    animation-name: subheadinganimation;
    animation-duration: 10s;
    animation-delay: 3s;
         animation-fill-mode: both;


}

@keyframes subheadinganimation{
    0% {opacity:0;}
    100% {opacity:1;}
 }

#form1{
    
    animation-name: example10;
    animation-duration: 2s;
animation-delay:5s;
         animation-fill-mode: both;


}

@keyframes example10{
    0% {opacity:0;}
100%  {opacity: 1;}
}
        